<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Andhika!</title>
</head>
<body >
        <div id="page">
            <h1>Andhika Rifki Alfariz</h1>
            <h2>1906398345</h2>
            <h2>Ilmu Komputer - Universitas Indonesia</h2>
            <h2>About Me</h2>
            <p>
                Saya adalah satu dari 7,7 miliar orang yang tinggal di bumi. Bernapas dengan udara dan makan makanan yang lezat dan tentunya bergizi.
                Tak terasa sudah 19 tahun saya menjalani kehidupan. Saya habiskan waktu hidup untuk melakukan kegiatan seperti orang-orang pada umumnya.
                Bangun pagi, mandi, tidak lupa menggosok gigi, habis mandi ku tolong ibu membersihkan tempat tidurku. Tidak lupa menyalakan TV lalu
                menonton Spongebob sambil sarapan. Berangkat sekolah, belajar dan bertemu teman-teman yang kadang menyebalkan tapi selalu ada jika dibutuhkan.
                Pulang dengan bahagia sambil menebak-nebak masakan apa yang dibuat mama di rumah. 
            </p>
            
            <img src="static/home/images/andhika.jpg" height="500"> 
            <!-- <p>*Aku yang kanan bukan yang kiri</p>   -->

            <h2>Ini adalah daftar hobi saya!</h2>
                <ul>
                    <li>Minum Coklat Panas</li>
                    <li>Menonton TV</li>
                    <li>Menyusun Puzzle</li>
                    <li>Bermain Permainan Papan</li>
                    <li>Bermain Tic Tac Toe</li>
                </ul>
            
            <h2>Riwayat pendidikan</h2>
            <table border="1">
                <tr>
                    <th>No.</th>
                    <th>Jenjang</th>
                    <th>Nama Institusi</th>
                    <th>Tahun</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>TK</td>
                    <td>TK Nurul Fatimah</td>
                    <td>2005 - 2007</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>SD</td>
                    <td>SDI Nurul Fatimah</td>
                    <td>2007-2010</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>SD</td>
                    <td>SDI Al-Falah 1 Pagi</td>
                    <td>2010-2013</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>SMP</td>
                    <td>SMPN 111 Jakarta Barat</td>
                    <td>2013-2016</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>SMA</td>
                    <td>SMAN 78 Jakarta Barat</td>
                    <td>2016-2019</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Perguruan Tinggi</td>
                    <td>Universitas Indonesia</td>
                    <td>2019 - sekarang</td>
                </tr>
            </table>


            <h2>Click to Find Me!</h2>
                <a href="https://www.instagram.com/andhikalfariz" target="_blank"><img src="static/home/images/instagram.png" height="50"></a> 
                <a href="https://www.facebook.com/andhikalfariz" target="_blank"><img src="static/home/images/facebook.png" height="50"></a>
                <a href="https://www.linkedin.com/in/andhika-rifki-alfariz-681bbb193/" target="_blank"><img src="static/home/images/linkedin.png" height="50"</a> 
        </div>
    </body> 
</html>